{{ define "title" }} Booker - Sign in {{ end }}

{{ define "main" }}
<div class="login-box">
	<form action="/login/" method="POST">
		<div class="title">Login</div>
		<div class="subtitle">Welcome back!</div>
		<div class="input-container ic1">
			<input id="username" class="input" name="username" type="text" placeholder=" " />
			<div class="cut"></div>
			<label for="username" class="placeholder">Username</label>
		</div>
		<div class="input-container ic2">
			<input id="password" class="input" name="password" type="password" placeholder=" " />
			<div class="cut"></div>
			<label for="password" class="placeholder">Password</label>
		</div>
		<button type="text" class="submit" value="Submit"> Submit</button>
	</form> 
</div>
{{ end }}4
