html, body {
	height: 100%;
	font-family:  Arial;
	color: #eee;
}

body {
	background-color: #f2bbf0;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.content {
	margin: 10px;
}

nav {
	height: 50px;
	flex: none;
	background-color: #761f87;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a, nav input[type=submit] {
	padding: 15px;
	color: white;
	text-decoration: none;
}

nav input[type=submit] {
	background: none!important;
	border: none;
	font-size: medium;
}

nav form {
	display: inline;
}


nav .align-left {
	display: flex;
	justify-content: flex-start;
}

nav .align-right {
	display: flex;
	justify-content: flex-end;
}

nav a:hover {
	background-color:  #4d004d;
  }

.date-listed {
	margin-top: 5px;
	margin-right: px;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}

.date-element {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	height: 100%;
	outline: 0;
	padding: 4px 10px 0;
	width: 100%;
}



input[type=text], input[type=password] {
    width: 100%;
}

main {
	display: flex; 
	justify-content: center;
	justify-items: center;
}

.login-box .register-box input[type=submit] {
	margin-top: 5px;
}

.error-box {
	color: #D8000C;
	background-color: #FFBABA;	
	border: 1px solid;
	padding: 3px;
	width: 100%;
	margin: 0px 0px 5px 0px;
	font-size: small;
}

.login-box{
	background-color: #15172b;
	border-radius: 20px;
	box-sizing: border-box;
	height: 500px;
	padding: 20px;
	width: 320px;

}
.booking-box{
	background-color: #15172b;
	border-radius: 20px;
	box-sizing: border-box;
	height: auto;
	padding: 20px;
	width: 420px;

}

.register-box  {
	background-color: #15172b;
	border-radius: 20px;
	box-sizing: border-box;
	height: 500px;
	padding: 20px;
	width: 320px;
  }
  
  .title {
	color: #eee;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 30px;
  }
  
  .subtitle {
	color: #eee;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
  }
  
  .input-container {
	height: 50px;
	position: relative;
	width: 100%;
  }

  .date-container {
	height: 50px;
	position: relative;
	width: 100%;
  }
  
  .ic1 {
	margin-top: 40px;
  }
  
  .ic2 {
	margin-top: 30px;
  }

  .ic3 {
	margin-top: 10px;
  }
  
  .input {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
  }
  
  .cut {
	background-color: #15172b;
	border-radius: 10px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
	width: 76px;
  }
  
  .cut-short {
	width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
	transform: translateY(8px);
  }
  
  .placeholder {
	color: #65657b;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
	color: #808097;
  }
  
  .input:focus ~ .placeholder {
	color: #dc2f55;
  }
  
  .submit {
	background-color: #08d;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	margin-top: 38px;
	outline: 0;
	text-align: center;
	width: 100%;
  }

  .book-button {

	background-color: #08d;
	border-radius: 6px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	height: 50px;
	margin-top: 10px; 
	margin-left: 20px;
	outline: 0;
	text-align: center;
	width: 50px;
  }
  
  .submit:active {
	background-color: #06b;
  }
  